doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Odin Landing Page
        link(rel="stylesheet", href="style.css")
    body
        main 
            .header-container
                a.logo Header Logo
                ul.header__list
                    li.list__item
                        a header link one
                    li.list__item
                        a header link two
                    li.list__item
                        a header link three
                .hero
                    h1 This website is awesome
                    p.hero__description This website has some subtext that goes here under the main title. It's smaller font and the color is lower contrast
                    button.cta__signup Sign Up
                    img.hero__img
            .card-container
                h2.card-container__title Some random information
                .card 
                    img.card__image
                    p.card__text this is some subtext under an illustration or image
                .card 
                    img.card__image
                    p.card__text this is some subtext under an illustration or image
                .card 
                    img.card__image
                    p.card__text this is some subtext under an illustration or image
                .card 
                    img.card__image
                    p.card__text this is some subtext under an illustration or image
            .quote
                h2.quote__text This is an inspiring quote, or a testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.
                p.quote__author <b>-Thor, God of Thunder</b>
            .cta
                p.cta__title Call to action! It's time! 
                p.cta__description Sign up for our product by clicking that button right over there!
                button.cta__button Sign up

        footer