// Variables of colors and font styles
$dark-bg: #1F2937 // Hero and Footer
$hero-main--text: 48px
$hero-main--text-weight: extra-bold
$hero-main--color: #F9FAF8
$hero-secondary--text: 18px
$hero-secondary--color: #E5E7EB
$header-logo--text: 24px
$header-logo--color: #F9FAF8
$button: #3882F6 // Call to action background color
$info-header--text: 36px
$info-header--text-weight: extra-bold
$info-header--color: #1F2937
$quote-bg: #E5E7EB
$quote-text: 36px
$quote-text--weight: 300
$quote-text--color: #1F2937


@font-face 
    font-family: 'Roboto', sans-serif

* 
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: Roboto

main
    header
        background: $dark-bg
        .header-container
            display: flex
            justify-content: space-around
            align-items: center
            padding: 10px
            .logo
                color: $header-logo--color
                font-size: $header-logo--text
                font-weight: bold
            .list
                display: flex
                gap: 16px
                list-style: none
                font-size: $hero-secondary--text
                color: $hero-secondary--color
        .hero
            display: flex
            justify-content: space-around
            align-items: center
            max-width: 1150px
            margin:0 auto
            padding: 68px
            gap: 30px
            &__left
                max-width: 550px
                h1
                    font-size: $hero-main--text
                    font-weight: $hero-main--text-weight
                    color: $hero-main--color
                    line-height: 3rem
                .hero-description
                    font-size: $hero-secondary--text
                    color: $hero-secondary--color
                .cta__signup
                    border: 0
                    color: white
                    padding: 6px 24px
                    border-radius: 6px
                    font-weight: bold
                    background: $button
                    margin-block: 6px
            &__img
                width: 350px
                height: 100%
    .random-info
        text-align: center
        width: 100%
        max-width: 1150px
        padding: 36px
        margin: 0 auto
        margin-bottom: 48px
        .info__title
            color: $info-header--color
            font-size: $info-header--text
            margin-bottom: 36px
        .card__container
            display: flex
            flex-flow: row
            justify-content: center
            gap: 36px
            .card
                &__image
                    border: 4px solid $button
                    border-radius: 16px
                    width: 140px
                    height: 140px
                &__text
                    font-size: 18px
                    color: $quote-text--color
    .quote
        background: $quote-bg
        position: relative
        width: 100%
        padding: 10%
        &__text
            font-size: $quote-text
            font-weight: $quote-text--weight
        &__author
            font-size: 18px
            color: $info-header--color
            position: absolute
            right: 20%
    .cta
        background: $button
        color: white
        margin: 8% 16%
        padding: 3% 7%
        border-radius: 8px
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 18px
        &__title
            font-size: 24px
            font-weight: 800
        &__button
            font-size: 18px
            width: 120px
            height: 35px
            background: $button
            border: 2px solid white
            border-radius: 6px
            color: white
            font-weight: 700

        

                


