// Variables of colors and font styles
$dark-bg: #1F2937 // Hero and Footer
$hero-main--text: 48px
$hero-main--text-weight: extra-bold
$hero-main--color: #F9FAF8
$hero-secondary--text: 18px
$hero-secondary--color: #E5E7EB
$header-logo--text: 24px
$header-logo--color: #F9FAF8
$button: #3882F6 // Call to action background color
$info-header--text: 36px
$info-header--text-weight: extra-bold
$info-header--color: #1F2937
$quote-bg: #E5E7EB
$quote-text: 36px
$quote-text--weight: light italic
$quote-text--color: #1F2937


@font-face 
    font-family: 'Roboto', sans-serif

* 
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: Roboto

main
    header
        background: $dark-bg
        .header-container
            display: flex
            justify-content: space-around
            align-items: center
            padding: 10px
            .logo
                color: $header-logo--color
                font-size: $header-logo--text
                font-weight: bold
            .list
                display: flex
                gap: 16px
                list-style: none
                font-size: $hero-secondary--text
                color: $hero-secondary--color
        .hero
            display: flex
            justify-content: center
            padding: 68px
            gap: 30px
            
            &__left
                max-width: 450px
                h1
                    font-size: $hero-main--text
                    font-weight: $hero-main--text-weight
                    color: $hero-main--color
                    line-height: 3rem
                .hero-description
                    font-size: $hero-secondary--text
                    color: $hero-secondary--color
                .cta__signup
                    border: 0
                    color: white
                    padding: 6px 24px
                    border-radius: 6px
                    font-weight: bold
                    background: $button
                    margin-block: 6px
            &__img
                width: 350px
                height: 100%
                
        


